			a{
				text-decoration: none;
			}
			body,div,ul,li{
				margin: 0;
				padding: 0;
			}
			#font_color_red{
				color: red;
			}
			#change_font_black{
				color: black;
			}
			#print_xuLine{
				width: 310px;
				height: 1px;
				position: relative;
				left: 5px;
				border-bottom: 1px dotted gray;
			}
			#font_wider_boider{
				font-weight: bold;
			}
			#change_font_size{
				font-size: 14px;
			}
			.main_m6_left div span{
				font-size: 15px;
				position: relative;
				left: 15px;
			}
			.main_m6_left div a {
				align-content: center;
				font-size: 12px;
			}
			.create_border{
				width: 325px;
				height: 35px;
				position: relative;
				left: 15px;
			}
			.create_border div a{
				width: 100px;
				height: 25px;
				border: 1px solid darkgray;
				position: relative;
				top: 9px;
				left: 5px;
				float: left;
				color: black;
				text-align: center;
				line-height: 25px;
			}
			.create_border div a:hover{
				font-weight: bold;
				font-size: 14px;
				border-bottom: none;
			}
			.m6_left_changeTitle{
				width: 310px;
				border-bottom: 1px dotted gray;
				height: 30px;
				line-height: 30px;
				position: relative;
				left: 20px;
				text-indent: 120px;
				color: gray;
			}
			.main_m6_left div ul li{
				color: red;
			}
			.m6_left_changeUlPosition{
				position: relative;
				left: 17px;
			}
			.m6_left_p4{
				width: 320px;
				height: 150px;
				position: relative;
				left: 15px;
			}
			.m6_left_p4 li{
				position: relative;
				left: 25px;
			}
			.create_border_content{
				width: 300px;
				height: 26px;
				line-height: 28px;
				text-indent: -35px;
			}
			
			.m6_left_p5{
				width: 320px;
				height: 50px;
				position: relative;
				left: 5px;
				top: -12px;
				font-size: 17px;
				text-align: center;
			}
			.main_m6_right div span{
				font-size: 14px;
				position: relative;
				left: 15px;
			}
			.main_m6_right div a {
				align-content: center;
				font-size: 12px;
			}
			.m6_right_p2{
				width: 350px;
				height: 250px;
			}
			.m6_right_p2_div1{
				height: 80px;
				position: relative;
				left: 10px;
				top: 10px;
			}
			.m6_right_p2_div1 ul li{
				width: 80px;
				height: 80px;
				float: left;
				list-style: none;
			}
			.m6_right_p2_div1 ul .add_bg_img{
				background-image: url(../img/main/zqk/hot_cook_1.png);
				background-repeat: no-repeat;
			}
			.m6_right_p2_div1 ul .add_bg_img a{
				color: white;
				font-size: 13px;
				line-height: 5px;
			}
			.m7_right_div1 {
				widows: 300px;
				height: 30px;
				font-size: 13px;
				align-content: center;
			}
			.m7_right_div1 span{
				position: relative;
				top: 10px;
				left: 10px;
			}
			.m7_right_div2 {
				height: 200px;
				position: relative;
				top: 10px;
			}
			.m7_right_div2 ul li{
				list-style: none;
				height: 45px;
			}
			.m7_right_div2_left{
				width: 100px;
				height: 40px;
				position: relative;
				top: 7px;
				left: 20px;
			} 
			.m7_right_div2_right{
				width: 220px;
				height: 40px;
				position: relative;
				left: 120px;
				top: -35px;
			}
			.m7_right_div2_right p{
				font-size: 12px;
				position: relative;
				top: -10px;
				left: -5px;
			}
			.m7_right_div2_right span{
				font-size: 12px;
				text-align: center;
				line-height: 40px;
				position: relative;
				top: -5px;
				left: -5px;
			}
			.m7_left_div1{
				width: 310px;
				height: 110px;
				position: relative;
				left: 15px;
				top: 10px;
			}
			.m7_left_div1 div span{
				font-size: 14px;				
			}
			.m7_left_div1_div2{
				width: 290px;
				height: 40px;
				font-size: 10px;
				text-indent: 30px;
				position: relative;
				left: 10px;
				top: 20px;
			}
			.m7_left_div1_div3{
				width: 320px;
				height: 40px;
				text-align: center;
				position: relative;
				border-bottom: 1px solid darkgray;
			}
			.m7_left_div1_div3 p{
				text-align: center;
				position: relative;
				top: 0px;
			}
			.m7_left_div2_div1{
				width: 125px;
				height: 90px;
				position: relative;
				top: 40px;
				float: left;
				left: 20px;
			}
			.m7_left_div2_div1_li{
				color: red;
				width: 110px;
				height: 20px;
				font-size: 12px;
				top: -14px;
				position: relative;
				left: 20px;
			}
			